<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            <label>Username:</label><input type="text" name="username" required>
            
            <label>Password:</label><input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <div class="notification">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <a href="{{ url_for('register') }}">New user? Register here</a>
        <a href="{{ url_for('unlock_account') }}">Forgot Password? Unlock your account</a>
    </div>
</body>
</html>
